@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

*{
  font-family: 'Lato', sans-serif;
}


.rotated {
  transform: rotate(180deg);
}


.glow:hover {

    box-shadow: 1px 1px #ff0, 0em 0 1em #ff0;
}


.bottom-blur {
  height: 50px;
  bottom: 5%;
  width: 700px;
}

@layer utilities {

  ::-ms-reveal {
    filter: invert(100%);
  }
  }

  .bounce-sm:hover {
    animation-name: bounce-sm;
    animation-timing-function: ease;
    animation-duration: 1s;
  }

  @keyframes bounce-sm {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-10px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
  }

.my-app.v-application .primary--text {
    color: white !important;

}
